/* .App-body {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
} */

.list-selector {
    padding: 25px;
    background-color: aliceblue;
    margin: 15px;
    /* display: grid;
    grid-template-columns: 1fr 5fr; */
    margin-left: 10%;
    width: 80%;
}

.selector-label {
    margin-bottom: 10px;
    font-weight: bold;
}

.App-header a {
    font-size: small;
}

.list-item {
    margin-bottom: 5px;
}

.list-button {
    width: 100px;
    height: 40px;
    padding: 0px 0px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.filter-text-area {
    margin: auto;
    text-align: center;
    resize: none;
    overflow: auto;
    width: 500px;
    height: 30px;
}

::placeholder {
    font-family: 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 
    'Droid Sans', 'Helvetica Neue', sans-serif;
    opacity: 1; 

}

.input-group {
    position: relative;
    margin: 5px;
    
}

.form-control {
    display: block;
    padding: 0.35rem, 0.75rem;
    font-size: 1rem;
    border-radius: 0.2rem;
}

p.list-items { 
    font-weight: 500;
}
